body {
  font-family: 'Roboto', sans-serif;
}

.oscuro a {
  color: #ffffff;
  text-decoration: none;
}

/* quienes somos */
#quienes-somos hr{
  height: 1px;
}

/* destacados */
#destacados img {
  height: 200px;
}

#destacados .card {
  border: none;
}
